# phpstorm project files
.idea/
vendor
Application/Bloomberg/storage
Application/Bloomberg/.env
composer.lock


uploads/*
!uploads/.gitkeep
!uploads/index.html
!uploads/general_images
!uploads/writers
!uploads/banners
!uploads/layouts
!uploads/weather

cache/*
!cache/index.html


uploads/writers/*
!uploads/writers/.gitkeep
!uploads/writers/index.html

uploads/banners/*
!uploads/banners/.gitkeep
!uploads/banners/index.html

uploads/users/*
!uploads/users/.gitkeep
!uploads/users/index.html
